@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5 !important;
  color: #3f2305;
  position: relative;
}

.fa-comment:hover {
  color: #dfa878 !important;
}

.fa-likes:hover {
  color: #dfa878 !important;
}
